body {
    margin: 0;
    background-color: darkslategray;
    color: white;
}

header {
    background-color: rgb(30, 65, 65);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    letter-spacing: 10px;
}

button {
    font-family: 'Silkscreen', cursive;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    background-color:rgb(33, 56, 56);
    cursor: pointer;
}

.game {
    display: flex;
    justify-content: center;
}

.button-instruction {
    margin: 10px;
}

#world-area {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-area {
    background-color: black;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#world-text {
    margin: 10px;
}

@media only screen and (max-width: 1024px) {
    #world-area {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    #world-area {
        width: 100%;
    }
}