* {
    background-color: darkslategray;
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    /* font-size: 4rem; */
}

/* .dragon {
    color: green;
}

.crystal {
    color: goldenrod;
} */

#world-area {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}