body {
    margin: 0;
    background-color: darkslategray;
    color: white;
}

header {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    letter-spacing: 10px;
}

#world-area {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

#text-area {
    background-color: rgb(24, 40, 40);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#world-text {
    margin: 10px;
}

#look-text {
    margin: 10px;
}


.button-instruction {
    margin: 8px;

}

button {
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color:rgb(33, 56, 56);
    cursor: pointer;

}